@font-face {
  font-family: "FontBG";
  src: url("assets/fonts/fontBG.ttf");
}

:root {
  --wdth: 100;
  --wght: 10;
}

body {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(238, 238, 238);
  overflow: hidden;
  font-family: "FontBG";
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}


#app {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}


.refresh-button {
  position: fixed;
  width: 3%;
}


.end-of-page {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  bottom: 15px;
}

.end-of-page a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: auto;
  padding: 0;
  margin: 0 2rem 0 2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.end-of-page img {
  width: 100%;
  height: 100%;
}

.end-of-page span {
  position: absolute;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-size: 2.3rem;
  pointer-events: none;
  user-select: none;
}


.footer-text {
  position: fixed;
  left: 86%;
  bottom: 0;
  text-decoration: none;
  color: rgb(238, 238, 238);
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 0;
  font-size: 0.85rem;
}
